* {
    margin: 0;
    padding: 0;
}

:root{
    box-sizing: border-box;
}

*,
::after,
::before{
    box-sizing:inherit;
}

a {
    text-decoration: none;
}

img {
    display: block;}

body {
    font-family: $font-family;
}


