$font-family: 'MuseoModerno', cursive;


//color 
$main-color:#5892a6;
$header-color:#5e5e5e;
$title-color:#535353;
$shadow-color:#68b0c9;
$input-color:#9c9c9c;
/*
$elem-color:#FFE500;
$bg-color:#F1F2F5;
*/

